/******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/*
 *  Colors Used: #73DFA1, #FFFF8B, #E4BCFE
 *  Colors Used: #DD7F7A, #EBE8D6, #5C6CB2,
 *  Colors Used: #573695, #CB53D9, #FCB0B4
 *  Colors Used: #25395C, #2787EA, #1C67D2, #A4B0FF, #EA7166, #FCA78A
 *  Colors Used: #F9F9F9, #95060F, #1F563E, #BEC1C2
 *  Colors Used: #FFFFFF, #FFCE00, #FEB700, #0994F4, #FF7E1E
 *  Colors Used: #96D5D1, #67B983, #E6E345
 *  Colors Used: #9D28B5, #005CBA, #FF6A00, #F6A2BC
 *  Colors Used: #EDA909, #8CE0EB, #73926C, #D2CCB1
 */

* {
	--body-color: #303030;
	--bg-color: #1e1e1e;
	--border-color: #646464;
	--text-color: #ffffff;
	--link-color: #79a8ff;
	--link-color-2: #2f0c3f;
	--code-color: #00404f;
	--code-text-color: #ffffff;
	--first-color: #2f447f;
	--second-color: #042837;
	--third-color: #f1b090;
	--fourth-color: #bf94fe;
	--hl-color: #1640b0;
	--hl-color2: #7030af;
}
a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--hl-color);
}

blockquote {
	background: var(--second-color);
	font-style: italic;
	margin: 0;
	padding: 10px 10px;
}

blockquote p {
	margin: 0;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	font-family: "Overpass", sans-serif;
	line-height: 1.5em;
	margin: 20px auto; /* "auto" for centering */
	padding: 0;
	max-width: 960px;
}

code {
	font-family: 'JetBrainsMono', monospace;
	/* font-size: 12px; */
	padding: 0 5px;
}

img {
	max-width: calc(100% - 20px);
}

figure {
	background-color: var(--first-color);
	padding: 4px;
	border-radius: 10px;
}

figcaption {
	font-weight: bold;
}

figcaption .figure-number {
	font-style: italic;
	text-decoration: underline;
}

video {
	max-width: calc(100% - 20px);
}

p {
	text-align: justify;
}


h1 {
	line-height: 40px;
}

/******************************************************************************/
.title {
	background-color: var(--first-color);
	border-radius: 10px 10px;
	padding: 10px 20px;
}

.title h1 {
	line-height: 40px;
	padding: 10px 0;
}

.subtitle {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.title p {
	margin-top: -10px;
	padding: 5px 0;
}


/******************************************************************************/
nav {
	/* position: fixed; */
	/* right: 0; */
	/* top: 0; */
	text-align: right;
	background-color: var(--second-color);
	border-radius: 20px;
	border: 2px solid var(--border-color);
	font-weight: bold;
	padding: 0 10px;
	z-index: 1;
}

/*
nav:before {
		content: "Table of contents";
}
*/

/* Indent sublists. */
nav ul   {
	text-align: left;
	padding: 0;
}
nav ul li ul   {
	padding: 0 0 0 2em;
}

/* Remove list dot. */
nav ul li  {
	display: block;
}

/* Remove deeply nested TOC, mostly for power-apps */
nav ul li ul li ul li ul li  {
	display: none;
}

nav a {
	color: var(--text-color);
	text-decoration: none;
	white-space: nowrap;
}

nav a:hover {
	color: var(--hl-color2);
}

/* Org uses a <h2> for "Table of Contents". */
nav h2 {
	font-size: 16px;
	margin: 0;
}

/******************************************************************************/
#preamble {
	background-color: var(--first-color);
	border-radius: 10px;
	border: 2px solid var(--border-color);
	font-weight: bold;
	z-index: 1;
	overflow: hidden;
	padding: 5px;
	width: calc(90%);
        margin: 0px calc(5%);
}

#preamble a {
	color: var(--text-color);
	text-decoration: none;
	white-space: nowrap;
	padding: 10px 10px;
	margin: 5px, 15px;
}

#preamble a:hover {
	background-color: var(--third-color);
	color: var(--hl-color);
}

#preamble .banner {
	color: var(--hl-color);
	padding: 0;
	float: inline-end;
	vertical-align: top;
}

#preamble .source {
	margin: 0;
	padding: 0 10px;
	float: right;
	vertical-align: top;
}

#preamble .source a {
	color: var(--third-color);
}

#preamble .source a:hover {
	background-color: var(--third-color);
	color: var(--hl-color);
}
#preamble img {
	margin: 0;
	padding: 0 10px;
	width: 32px;
	height: 32px;
	float: left;
}

footer {
	background-color: var(--first-color);
	border-radius: 10px 10px;
	padding: 5px 0 10px 0;
	text-align: center;
	vertical-align: middle;
}

footer p {
	margin: 0px;
	text-align: center;
}

#postamble {
	background-color: var(--first-color);
	border-radius: 10px 10px;
	padding: 5px 0 10px 0;
	text-align: center;
	vertical-align: middle;
}

#postamble p {
	margin: 0px;
	text-align: center;
}

/******************************************************************************/
/*.tag {
	background-color: var(--third-color);
	border: 2px groove aqua;
	border-radius: 10px 10px;
	font-family: bold;
	font-size: 16px;
	padding: 0px 3px;
	float: right;
}*/

.tag {
	border: 0;
	padding: 0px 2px;
	float: inline-end;
}

.Flagged {
	color: crimson;
	background-color: var(--hl-color);
	border: 1px groove;
	border-radius: 10px 10px;
	font-family: bold;
	font-size: 16px;
	padding: 0px 2px;
}
.Flagged::before {
	font-family: "Font Awesome 5 Free";
	content: "\f024"; /* fa-flag: 🚩 */
	display: inline-block;
	padding-right: 4px;
	vertical-align: middle;
	font-weight: 900;
}
.Star {
	color: var(--hl-color);
	background-color: var(--third-color);
	border: 1px groove;
	border-radius: 10px 10px;
	font-family: bold;
	font-size: 16px;
	padding: 0px 3px;
}
.Star::before {
	font-family: "Font Awesome 5 Free";
	content: "\f005"; /* fa-star: ⭐ */
	display: inline-block;
	padding-right: 4px;
	vertical-align: middle;
	font-weight: 900;
}

#content {
	background-color: var(--bg-color);
	border-radius: 20px;
	margin: 50px 0px;
	padding: 5px 10px 10px 10px;
	text-align: left;
	vertical-align: middle;
}

#content h2 {
	text-align: center;
	border-bottom: 2px dotted #333;
}

#content h3 {
	border-bottom: 2px dashed #666;
}

#content h4 {
	text-align: center;
}

/* Tables  */

table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
th { font-weight: bold; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }


/* Syntax Highlighting */
.org-src-container pre {
	color: var(--code-text-color);
	border-left: 1px var(--text-color);
	max-width: calc(100% - 20px); /* -20px for padding */
	inline-size:  calc(100% - 20px); /* -20px for padding */
	overflow-x: visible;
	box-shadow: none;
	box-sizing: border-box;
}

.org-doc {
	color: var(--text-color);
	font-style: italic;
	font-weight: light;
}
.org-comment {
	color: var(--text-color);
	font-style: italic;
	font-weight: light;
}
.org-comment-delimiter {
	color: var(--text-color);
	font-style: italic;
	font-weight: light;
}
.org-string {
	color: var(--text-color);
	font-weight: bold;
}

.org-constant {
	color: var(--third-color);
	font-style: italic;
}
.org-builtin {
	color: var(--hl-color);
}
.org-keyword {
	color: var(--third-color);
	font-style: italic;
}

.org-function-name {
	color: var(--fourth-color);
	font-weight: bold;
}

.org-variable-name {
	color: var(--fourth-color);
	text-decoration: underline;
	font-weight: bold;
}

pre {
	background-color: var(--code-color);
	border-radius: 10px 10px;
	display: inline-block;
	text-align: left;
	font-family: 'JetBrainsMono', monospace;
	font-size: 12px;
	line-height: 1.2em;
	margin: 10px 20px 10px 0;
	min-width: calc(100% - 20px); /* -20px for padding */
	padding: 10px;
	vertical-align: middle;
}

pre code {
	padding: 0 0px;
}

pre.src {
  position: relative;
  overflow: auto;
}
pre.src:before {
  display: none;
  position: absolute;
  top: -8px;
  right: 12px;
  padding: 3px;
  color: #555;
  background-color: #f2f2f299;
}
pre.src:hover:before { display: inline; margin-top: 14px;}
/* Languages per Org manual */
pre.src-asymptote:before { content: 'Asymptote'; }
pre.src-awk:before { content: 'Awk'; }
pre.src-authinfo::before { content: 'Authinfo'; }
pre.src-C:before { content: 'C'; }
/* pre.src-C++ doesn't work in CSS */
pre.src-clojure:before { content: 'Clojure'; }
pre.src-css:before { content: 'CSS'; }
pre.src-D:before { content: 'D'; }
pre.src-ditaa:before { content: 'ditaa'; }
pre.src-dot:before { content: 'Graphviz'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-fortran:before { content: 'Fortran'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-haskell:before { content: 'Haskell'; }
pre.src-hledger:before { content: 'hledger'; }
pre.src-java:before { content: 'Java'; }
pre.src-js:before { content: 'Javascript'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-ledger:before { content: 'Ledger'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-lilypond:before { content: 'Lilypond'; }
pre.src-lua:before { content: 'Lua'; }
pre.src-matlab:before { content: 'MATLAB'; }
pre.src-mscgen:before { content: 'Mscgen'; }
pre.src-ocaml:before { content: 'Objective Caml'; }
pre.src-octave:before { content: 'Octave'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-oz:before { content: 'OZ'; }
pre.src-plantuml:before { content: 'Plantuml'; }
pre.src-processing:before { content: 'Processing.js'; }
pre.src-python:before { content: 'Python'; }
pre.src-R:before { content: 'R'; }
pre.src-ruby:before { content: 'Ruby'; }
pre.src-sass:before { content: 'Sass'; }
pre.src-scheme:before { content: 'Scheme'; }
pre.src-screen:before { content: 'Gnu Screen'; }
pre.src-sed:before { content: 'Sed'; }
pre.src-sh:before { content: 'shell'; }
pre.src-sql:before { content: 'SQL'; }
pre.src-sqlite:before { content: 'SQLite'; }
/* additional languages in org.el's org-babel-load-languages alist */
pre.src-forth:before { content: 'Forth'; }
pre.src-io:before { content: 'IO'; }
pre.src-J:before { content: 'J'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-maxima:before { content: 'Maxima'; }
pre.src-perl:before { content: 'Perl'; }
pre.src-picolisp:before { content: 'Pico Lisp'; }
pre.src-scala:before { content: 'Scala'; }
pre.src-shell:before { content: 'Shell Script'; }
pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
/* additional language identifiers per "defun org-babel-execute"
     in ob-*.el */
pre.src-cpp:before  { content: 'C++'; }
pre.src-abc:before  { content: 'ABC'; }
pre.src-coq:before  { content: 'Coq'; }
pre.src-groovy:before  { content: 'Groovy'; }
/* additional language identifiers from org-babel-shell-names in
   ob-shell.el: ob-shell is the only babel language using a lambda to put
   the execution function name together. */
pre.src-bash:before  { content: 'bash'; }
pre.src-csh:before  { content: 'csh'; }
pre.src-ash:before  { content: 'ash'; }
pre.src-dash:before  { content: 'dash'; }
pre.src-ksh:before  { content: 'ksh'; }
pre.src-mksh:before  { content: 'mksh'; }
pre.src-posh:before  { content: 'posh'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { content: 'Ada'; }
pre.src-asm:before { content: 'Assembler'; }
pre.src-caml:before { content: 'Caml'; }
pre.src-delphi:before { content: 'Delphi'; }
pre.src-html:before { content: 'HTML'; }
pre.src-idl:before { content: 'IDL'; }
pre.src-mercury:before { content: 'Mercury'; }
pre.src-metapost:before { content: 'MetaPost'; }
pre.src-modula-2:before { content: 'Modula-2'; }
pre.src-pascal:before { content: 'Pascal'; }
pre.src-ps:before { content: 'PostScript'; }
pre.src-prolog:before { content: 'Prolog'; }
pre.src-simula:before { content: 'Simula'; }
pre.src-tcl:before { content: 'tcl'; }
pre.src-tex:before { content: 'TeX'; }
pre.src-plain-tex:before { content: 'Plain TeX'; }
pre.src-verilog:before { content: 'Verilog'; }
pre.src-vhdl:before { content: 'VHDL'; }
pre.src-xml:before { content: 'XML'; }
pre.src-nxml:before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
   (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
pre.src-conf:before { content: 'Configuration File'; }
